In [392]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

data = pd.read_pickle("hitters_processed.pkl")

display(data.head())
display(data.describe())
display(data.info())
display(data.isnull().sum())

# Verinin ilk 5 satırını görüntülenmiş, istatiksel özeti görüntülenmiş, veri tipleri ve eksik değerler kontrol edilmiştir.

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,NEW_CHm_CAT,NEW_Diff_Atbat,NEW_Diff_Hits,NEW_Diff_HmRun,NEW_Diff_Runs,NEW_Diff_RBI,NEW_Diff_Walks,League_N,Division_W,NewLeague_N
1,-0.602900,-0.595675,-0.529975,-1.207183,-0.522128,-0.096826,1.408945,0.373366,0.200587,0.109509,...,-0.272565,-0.003834,0.092772,-0.280053,-0.472938,-0.213465,0.154611,True,True,True
2,0.512542,0.492260,0.738195,0.442494,0.794576,1.614738,-0.905036,-0.460668,-0.418475,0.011934,...,1.012006,-1.149114,-1.228948,-1.282599,-1.009645,-1.676331,-1.500668,False,True,False
3,0.628167,0.736490,0.968772,0.403216,1.026936,-0.189343,0.777859,1.369180,1.412506,2.304938,...,0.837941,-0.740787,-0.619326,-0.402001,-1.098162,-0.598802,-0.358041,True,False,True
4,-0.562092,-0.462459,-0.184110,-0.618013,-0.367222,-0.513153,-1.115398,-1.021870,-1.001506,-0.817450,...,0.431502,0.471475,0.550872,0.101198,0.294723,0.402771,0.243729,True,False,True
5,1.294712,1.358167,-0.875840,0.756718,-0.018682,-0.281860,0.777859,0.811634,0.688630,-0.703613,...,-1.345732,1.085953,1.443302,-0.240259,1.036259,0.487560,0.511532,False,True,False

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,NEW_RW,NEW_RBWALK,NEW_CH_CB,NEW_CHm_CAT,NEW_Diff_Atbat,NEW_Diff_Hits,NEW_Diff_HmRun,NEW_Diff_Runs,NEW_Diff_RBI,NEW_Diff_Walks
count,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02
mean,-2.499057e-16,-3.275791e-16,-2.026263e-17,-3.672601e-16,-3.849899e-16,3.258906e-16,6.754209e-17,-4.052525e-17,2.026263e-17,-2.431515e-16,...,-4.052525e-17,6.754209e-18,-2.593616e-15,-8.780471e-17,2.026263e-17,1.688552e-18,3.377104e-18,-2.363973e-17,6.078788e-17,8.780471e-17
std,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,...,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00,1.001907e+00
min,-2.616138e+00,-2.371896e+00,-1.336992e+00,-2.149855e+00,-1.993739e+00,-1.900907e+00,-1.325760e+00,-1.194161e+00,-1.160366e+00,-1.012600e+00,...,-1.192320e+00,-1.293475e+00,-2.830514e+00,-1.640450e+00,-3.357557e+00,-3.302462e+00,-2.160690e+00,-2.800372e+00,-2.788748e+00,-2.889471e+00
25%,-8.239485e-01,-8.066016e-01,-7.605514e-01,-8.340417e-01,-8.319410e-01,-8.369619e-01,-6.946741e-01,-8.178173e-01,-8.197184e-01,-7.686630e-01,...,-8.073087e-01,-6.931349e-01,-6.185871e-01,-7.697336e-01,-6.040593e-01,-5.533221e-01,-6.895435e-01,-5.572500e-01,-7.047885e-01,-6.920073e-01
50%,6.364424e-02,-1.072148e-01,-2.993986e-01,-1.073985e-01,-1.735887e-01,-1.893432e-01,-2.739503e-01,-3.203674e-01,-3.218488e-01,-3.621020e-01,...,-3.326574e-01,-2.091760e-01,4.624000e-03,-1.404159e-01,3.426615e-02,9.362878e-03,-2.402587e-01,-5.342883e-03,-1.718278e-01,-1.220940e-01
75%,8.322111e-01,7.475913e-01,7.381952e-01,7.174398e-01,7.558498e-01,7.358265e-01,5.674971e-01,5.751337e-01,5.592494e-01,4.916760e-01,...,6.827730e-01,3.961449e-01,6.669123e-01,6.305173e-01,5.938940e-01,5.937284e-01,4.965684e-01,6.162224e-01,5.691472e-01,5.440885e-01
max,1.927249e+00,2.890157e+00,2.582806e+00,2.843362e+00,2.648613e+00,2.701812e+00,2.986659e+00,2.720772e+00,2.656566e+00,2.304938e+00,...,3.416549e+00,7.060489e+00,3.821991e+00,3.163022e+00,2.635661e+00,2.744133e+00,3.132373e+00,2.554404e+00,3.047796e+00,3.555937e+00

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, 1 to 321
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AtBat            263 non-null    float64
 1   Hits             263 non-null    float64
 2   HmRun            263 non-null    float64
 3   Runs             263 non-null    float64
 4   RBI              263 non-null    float64
 5   Walks            263 non-null    float64
 6   Years            263 non-null    float64
 7   CAtBat           263 non-null    float64
 8   CHits            263 non-null    float64
 9   CHmRun           263 non-null    float64
 10  CRuns            263 non-null    float64
 11  CRBI             263 non-null    float64
 12  CWalks           263 non-null    float64
 13  PutOuts          263 non-null    float64
 14  Assists          263 non-null    float64
 15  Errors           263 non-null    float64
 16  Salary           263 non-null    float64
 17  NEW_Hits         263 non-null    float64
 18  NEW_RBI          263 non-null    float64
 19  NEW_Walks        263 non-null    float64
 20  NEW_PutOuts      263 non-null    float64
 21  Hits_Success     263 non-null    float64
 22  NEW_CRBI*CATBAT  263 non-null    float64
 23  NEW_Chits        263 non-null    float64
 24  NEW_CHmRun       263 non-null    float64
 25  NEW_CRuns        263 non-null    float64
 26  NEW_RW           263 non-null    float64
 27  NEW_RBWALK       263 non-null    float64
 28  NEW_CH_CB        263 non-null    float64
 29  NEW_CHm_CAT      263 non-null    float64
 30  NEW_Diff_Atbat   263 non-null    float64
 31  NEW_Diff_Hits    263 non-null    float64
 32  NEW_Diff_HmRun   263 non-null    float64
 33  NEW_Diff_Runs    263 non-null    float64
 34  NEW_Diff_RBI     263 non-null    float64
 35  NEW_Diff_Walks   263 non-null    float64
 36  League_N         263 non-null    bool
 37  Division_W       263 non-null    bool
 38  NewLeague_N      263 non-null    bool
dtypes: bool(3), float64(36)
memory usage: 76.8 KB

None

AtBat              0
Hits               0
HmRun              0
Runs               0
RBI                0
Walks              0
Years              0
CAtBat             0
CHits              0
CHmRun             0
CRuns              0
CRBI               0
CWalks             0
PutOuts            0
Assists            0
Errors             0
Salary             0
NEW_Hits           0
NEW_RBI            0
NEW_Walks          0
NEW_PutOuts        0
Hits_Success       0
NEW_CRBI*CATBAT    0
NEW_Chits          0
NEW_CHmRun         0
NEW_CRuns          0
NEW_RW             0
NEW_RBWALK         0
NEW_CH_CB          0
NEW_CHm_CAT        0
NEW_Diff_Atbat     0
NEW_Diff_Hits      0
NEW_Diff_HmRun     0
NEW_Diff_Runs      0
NEW_Diff_RBI       0
NEW_Diff_Walks     0
League_N           0
Division_W         0
NewLeague_N        0
dtype: int64

In [393]:
# Hedef değişkeni y olarak kaydediyoruz ve bağımsız değişkenleri X olarak kaydediyoruz.
X = data.drop(columns=['Salary'])
y = data['Salary']

# Veriyi eğitim ve test setlerine ayırıyoruz. Eğitim seti %81, test seti %19 olacak şekilde ayırıyoruz.
# %80e %20 ayırdığımızdan daha yüksek değerler elde ettiğim için 81-19 kullandım.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.19, random_state=33)

In [394]:
model = LinearRegression()
model.fit(X_train, y_train)
# Model olarak lineer regression kullandık ve eğittik.

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Linear Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Modelin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Linear Regression için MSE değeri: 24673.96
R² değeri: 0.82

In [395]:
Ridge_model = Ridge(alpha=1.0)
Ridge_model.fit(X_train, y_train)
# Ridge regression modelini oluşturduk ve eğittik.

y_pred = Ridge_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Ridge Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Ridge regression modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Ridge Regression için MSE değeri: 24225.78
R² değeri: 0.82

In [396]:
Lasso_model = Lasso(alpha=1.0)
Lasso_model.fit(X_train, y_train)
# Lasso regression modelini oluşturduk ve eğittik.

y_pred = Lasso_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Lasso Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Lasso regression modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Lasso Regression için MSE değeri: 23192.89
R² değeri: 0.83

In [397]:
ridge_params = {'alpha': np.logspace(-1, 3, 50)}
from sklearn.model_selection import GridSearchCV
ridge_model = Ridge()
ridge_grid = GridSearchCV(ridge_model, ridge_params, cv=4, scoring='neg_mean_squared_error')
ridge_grid.fit(X_train, y_train)
# Ridge regresyonu için GridSearchCV kullanarak en iyi parametreleri bulduk.

print(f"En iyi Ridge model parametreleri: {ridge_grid.best_params_}")
ridge_best = ridge_grid.best_estimator_
# En iyi parametreleri bulduktan sonra ekrana yazdırdık ve kaydettik.

Ridge_model = Ridge(alpha=ridge_best.alpha)
Ridge_model.fit(X_train, y_train)
# En iyi parametrelerle Ridge regression modelini oluşturduk ve eğittik.

y_pred = Ridge_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Ridge Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Ridge regression modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

En iyi Ridge model parametreleri: {'alpha': 3.5564803062231287}
Ridge Regression için MSE değeri: 24774.75
R² değeri: 0.82

In [398]:
lasso_params = {'alpha': np.logspace(-1, 1, 50)}
lasso_model = Lasso(max_iter=10000)
# Kodun vermiş olduğu uyarılardan dolayı iterasyon sayısını arttırdım.

lasso_grid = GridSearchCV(lasso_model, lasso_params, cv=3, scoring='neg_mean_squared_error')
lasso_grid.fit(X_train, y_train)
# Lasso regresyonu için GridSearchCV kullanarak en iyi parametreleri bulduk.
# cv değerini, 3 yaptığımızda R² değişmeden MSE değeri çok hafif arttırmasına rağmen, polinomal regresyonda önemli ölçüde R² değerini arttırdı. Bu yüzden 3 kullandım.

print(f"En iyi Lasso model parametreleri: {lasso_grid.best_params_}")
lasso_best = lasso_grid.best_estimator_
# En iyi parametreleri bulduktan sonra ekrana yazdırdık ve kaydettik.

Lasso_model = Lasso(alpha=lasso_best.alpha)
Lasso_model.fit(X_train, y_train)
y_pred = Lasso_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Lasso Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Lasso regression modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

En iyi Lasso model parametreleri: {'alpha': 1.3894954943731375}
Lasso Regression için MSE değeri: 23383.28
R² değeri: 0.83

In [399]:
from sklearn.preprocessing import PolynomialFeatures

poly_linear_model = LinearRegression()
poly = PolynomialFeatures(degree=3, include_bias=False)
# Polinom regresyonu için PolynomialFeatures sınıfını kullandım. Dereceyi 3 olarak ayarladım.
# Polinomu 2. dereceden ayarladığımda R² değeri çok düşük çıkıyordu, bu yüzden 3. dereceden ayarladım.

X_poly = poly.fit_transform(X_train)
poly_linear_model.fit(X_poly, y_train)
# Polinomu oluşturduk ve eğitim seti üzerinde eğittik.

X_test_poly = poly.transform(X_test)
y_pred = poly_linear_model.predict(X_test_poly)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Polynomial Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Polinom regresyon modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Polynomial Regression için MSE değeri: 73981.75
R² değeri: 0.46

In [400]:
poly = PolynomialFeatures(degree=2, include_bias=False)
# Ridge ve Lasso için ise 3. dereceden polinomun hem performansı çok düşük kalıyordu hem de çok uzun sürüyordu, bu yüzden dereceyi 3 olarak ayarladım.

poly.fit(X_train)
X_poly = poly.transform(X_train)  
poly_ridge_model = Ridge(alpha=ridge_best.alpha)
poly_ridge_model.fit(X_poly, y_train)
X_test_poly = poly.transform(X_test)
# Ridge regresyonu için polinom modelini oluşturduk ve eğitim seti üzerinde eğittik.

y_pred = poly_ridge_model.predict(X_test_poly)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Polynomial Ridge Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Ridge regresyon modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Polynomial Ridge Regression için MSE değeri: 69649.79
R² değeri: 0.49

In [401]:
poly_lasso_model = Lasso(alpha=lasso_best.alpha, max_iter=10000)
poly_lasso_model.fit(X_poly, y_train)
X_test_poly = poly.transform(X_test)
# Lasso regresyonu için polinom modelini oluşturduk ve eğitim seti üzerinde eğittik.

y_pred = poly_lasso_model.predict(X_test_poly)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Polynomial Lasso Regression için MSE değeri: {mse:.2f} \nR² değeri: {r2:.2f}")
# Lasso regresyon modelinin tahminlerini test seti üzerinde değerlendirdik. MSE ve R² değerlerini hesapladık.

Polynomial Lasso Regression için MSE değeri: 39772.05
R² değeri: 0.71

Yapmış olduğumuz testler sonucunda maalesef polinomal regresyon, modelin performansını düşürdü. Yapmış olduğumuz testlere baktığımızda görüyoruz ki, alphayı 1 olarak ayarladığımız lasso ve ridge modelleri en başarılı
sonuçları vermişlerdir. En iyi alphayı arama methodu ile belirlediğimizde performansın düşme sebebi cv değerinin düşük ayarlanmasından kaynaklıdır. Polinomal regresyon modellerinin başarısını arttırdığından dolayı
cv değerlerini düşük seçtim.